body {
    background: #ececec;
    font-family: 'Anton', sans-serif;
}
.background {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.link {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
    color: black;
}
