body {
    background-color: #caebf2;
    color: #001f3f;
    font-family: 'Anton', sans-serif;
}
.container > div {
    margin: 20px auto;
  }
.background {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.link {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-decoration: none;
    color: black;
}
.pic {
    display: flex;
    padding: 2% 6%;
    justify-content: flex-start;
    align-items: center;
}
.desJason {
    margin-top: -150px;
    margin-left: 40px;
}
.desOmar {
    margin-top: -150px;
    margin-left: 40px;
}
.desDamon {
    margin-top: -120px;
    margin-left: 40px;
}
.desNao {
    margin-top: -200px;
    margin-left: 40px;
}
img {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
    transition: all ease-in-out 1s;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}